robogen-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: var(--lumo-space-s);
}

robogen-view .button-layout {
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--lumo-contrast-5pct);
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
  gap: var(--lumo-space-m);
}

robogen-view section {
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
  /*padding-left: var(--lumo-space-s);*/
  /*padding-right: var(--lumo-space-s);*/
}